.main-form {
    background: #eff8ff;
    max-width: 856px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;    
    box-shadow: 0 0 10px rgb(0 0 0 / 44%);
}

.input {
    height: 55px;    
}

.textarea {
    height: 100px;
}

#messageFromName, #customModalBody {
    font-weight: bold;
}
 
.label {
    padding-left: 14px;
    padding-top: 4px;
    position: absolute;
    color: #aaa;
}

#main-input, #main-textarea {
    /* height: 100%; */
    padding-top: 20px;    
}